<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

  <div class="row">
    <div class="column">
      <div class="title">
        <h3>Personal Calendar</h3>
      </div>
      <div class="innerRow">
        <div class="innerColumn">
          <h3> Upcoming Events </h3>
          <div class="scrollView">
            <% for( var i = 0; i < events.length; i++){ %>
            <li> <%= events[i] %> </li>
            <% } %>
          </div>
          <form action ="/getEvents" method="POST">
            <button formaction="/getEvents" type="submit"> Update Events </button>
          </form>
        </div>
        <div class="innerColumn">
          <h3> Add Event </h3>
          <form action ="/addEvent" method="POST">
            Title: <input type="text" name="eventTitle" placeholder="Event Title"> <br/>
            Start: <input type="datetime-local" name="startTime"> <br/>
            End: <input type="datetime-local" name="endTime"> <br/>
            <button formaction="/addEvent" type="submit"> Add Event </button>
          </form>
        </div>
      </div>          
    </div>
    <div class="column">
      <div class="title" style="background-color:#0099cc;">
        <h3>Local Weather</h3>
      </div>
      <div class="innerRow">
        <div class="innerColumn">
          <h3>Change City</h3>
          <form action="/getWeather" method="post">
            <input name="zip" type="text" placeholder="Enter a Zip Code" maxlength="5" required>
            <input type="submit" value="Get Weather">
          </form>
          <% if(weather !== null){ %>
          <h3><%= weather.city %></h3>
          <h4><%= weather.temp %>&#8457</h4>
          <p><img src="/images/<%= weather.icon %>.png" align="middle"><%= weather.condition %></p>
          <% } %>
          <% if(weather == null){ %>
          <p>Please enter a valid city.</p>
          <% } %>
        </div>
        <div class="innerColumn">
          <h3>5-Day Forecast</h3>
          <div class="scrollView">
            <% if(forecast !== null){ %>
            <% for( var i = 0; i < 5; i++){ %>
            <li><%= forecast.days[i].date %> <%= forecast.days[i].temp %>&#8457<br/>
              High:<%= forecast.days[i].high %>&#8457 Low:<%= forecast.days[i].low %>&#8457 <%= forecast.days[i].condition %> 
              <img src="/images/<%= forecast.days[i].icon %>.png" align="middle"></li>
              <% } %>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="title" style="background-color:#009900;">
          <h3>Notes</h3>
        </div>
        <br/>
        <form action ="/saveNote" method="POST" style="width: 100%;height: 100%;">
          <textarea name="note"><%= note %></textarea>
          <button formaction="/saveNote" type="submit"> Save </button>
        </form>
      </div>
      <div class="column">
        <div class="title" style="background-color:#cc0000;">
          <h3>To-Do List</h3>
        </div>
        <div class="innerRow">
          <div class="innerColumn">
           <h3> Add a Task </h3>
           <form action ="/addTask" method="POST">
             <input type="text" name="newtask" placeholder="add new task">        
             <br/>
             <br/>
             <button> Add Task </button>
           </div>
           <div class="innerColumn">
             <h3> Task List </h3>
             <div class="scrollView">
               <% for( var i = 0; i < task.length; i++){ %>
               <li><input type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %> </li>
               <% } %>
             </div>
             <button formaction="/removeTask" type="submit"> Remove </button>
           </form>
         </div>     
       </div>
     </div>
   </div>

 </body>
 </html>